<html>
    <head> 
        <script type="text/javascript" src="./../static/globalVariables.js"></script>
        <script src="./../static/getData.js"></script>
        <script src="./../static/graphData.js"></script>
        <script src="./../static/clearData.js"></script>
        <script type="text/javascript" src="https://cdn.plot.ly/plotly-1.9.0.min.js"></script>

    </head>

    <body>
        <div id="mainDiv">
            <div id="getData">
                <button onclick='getData("allPairs")'>Click pairs</button>
                <button onclick="getData('allValues')">Click values</button>
                <button onclick="getData('allKeys')">Click keys</button>

                </br>
                </br>
                </br>
                </br>
                <div id="plotDiv" style="width:600px;height:400px;">
                     <button onclick='addPlot()'>Add new plot</button>
                    <button onclick="clearGraph(this)">Clear Graph</button>
                    <button onclick="plotValues(this);">Plot Values</button>
                </div>
                </br>
                </br>
                </br>
                </br>
            </div>
        </div>
    </body>

</html>